version: '2.3'
services:
  app:
    image: ghcr.io/linuxserver/bazarr:1.5.3@sha256:648f694532a3a53d8cf78bc888919ef538659bad41af4c680b0427ad1047d171
    healthcheck:
      test: curl --connect-timeout 15 --silent --show-error --fail -k http://LOCALHOST:6767
      interval: 30s
      retries: 3
      start_period: 30s
      timeout: 20s
    environment:
      - TZ=${TZ:-Australia/Melbourne}
      - Host=${HOSTNAME}
    volumes:
      - config:/config
      - media:/media
    ports:
      - ${WEBPORT:-6767}:6767
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3" 
    labels:
      - autoheal=true
      - dockflare.enable=${CFTUNNEL:-true}
      - dockflare.0.hostname=${CFSUBDOMAIN}${CFDOMAIN}
      - dockflare.0.service=http://${HOSTNAME:-localhost}:${WEBPORT:-6767}
      - dockflare.0.access.policy=${CFPOLICY:-default_tld}
      - dockflare.0.zonename=${CFDOMAIN}
      - dockflare.0.path=${CFURLPATH:-}
volumes:
  config:
  media:
    driver_opts:
      type: "nfs"
      o: addr=$MEDIASERV,nfsvers=4
      device: $MEDIAPATH
