version: '3.8'
services:
  app:
    image: ghcr.io/henrygd/beszel/beszel:0.18.4@sha256:04049e827455f4de51e3fd213bd2cd076138f7ddedf8e57ae94d55ab5c4893d1
    restart: unless-stopped
    ports:
      - ${PORT:-8090}:8090
    volumes:
      - data:/beszel_data
      - ./beszel_socket:/beszel_socket
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    environment:
      #- BESZEL_HUB_DISABLE_PASSWORD_AUTH=true
      - BESZEL_HUB_USER_CREATION=true
    healthcheck:
      test: ['CMD', '/beszel', 'health', '--url', 'http://localhost:8090']
      start_period: 30s
      interval: 120s
    labels:
      - autoheal=true
      - dfgeneric.enable=${CFTUNNEL:-true}
      - dfgeneric.0.hostname=${CFSUBDOMAIN}${CFDOMAIN}
      - dfgeneric.0.service=http://${HOSTNAME:-localhost}:${PORT:-8090}
      - dfgeneric.0.access.policy=${CFPOLICY:-default_tld}
      - dfgeneric.0.zonename=${CFDOMAIN}
      - dfgeneric.0.path=${CFURLPATH:-}
volumes:
  data:

