version: "3"

services:
  app:
    image: ghcr.io/nathanvaughn/powerpanel-business:local-440
    privileged: true
    network_mode: host
    devices:
      - /dev/bus/usb:/dev/bus/usb
    restart: unless-stopped
    volumes:
      - data:/data
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    labels:
      - dfgeneric.enable=true
      - dfgeneric.hostname=${CFSUBDOMAIN}${CFDOMAIN}
      - dfgeneric.service=HTTP://${HOSTNAME:-localhost}:${PORT:-3052}
      - dfgeneric.access.policy=${CFPOLICY:-default_tld}
      - dfgeneric.zonename=${CFDOMAIN}
      - dfgeneric.path=${CFURLPATH:-}   
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "3"

volumes:
  data:

