services:
  ddns:
    image: favonia/cloudflare-ddns:1.15.1
    network_mode: host 
    restart: always
    user: "1000:1000"
    read_only: true 
    cap_drop: [all] 
    security_opt: [no-new-privileges:true] 
    environment:
      - CLOUDFLARE_API_TOKEN=${CF_APIKEY}   # Your Cloudflare API token
      - DOMAINS=${DOMAINS}                  # Your domains (separated by commas)
      - PROXIED=${PROXIED-false}            # Tell Cloudflare to cache webpages and hide your IP (optional)
      - DETECTION_TIMEOUT=15s               # Resolves and potential latency issues
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "3"
