---
version: "2.1"
services:
  app:
    image: ghcr.io/linuxserver/sabnzbd:4.5.5@sha256:d4583bb3e7cc2d65ffe7fab2de9627878b7ea259889b3e99ceacd4fede7eb266
    environment:
      - TZ=${TZ:-Australia/Melbourne}
    volumes:
      - config:/config
      - $DOWNLOADS:$DOWNLOADS
      - $INCOMPLETE_DOWNLOADS:$INCOMPLETE_DOWNLOADS
    ports:
      - ${PORT:-8080}:8080
    restart: unless-stopped
    networks:
      - cloudflare-net
    healthcheck:
      test: curl --connect-timeout 15 --silent --show-error --fail -k http://localhost:8080
      interval: 30s
      retries: 3
      start_period: 30s
      timeout: 20s
    labels:
      - autoheal=true
      - dfgeneric.enable=${CFTUNNEL:-true}
      - dfgeneric.0.hostname=${CFSUBDOMAIN}${CFDOMAIN}
      - dfgeneric.0.service=http://${HOSTNAME:-localhost}:${PORT:-8080}
      - dfgeneric.0.access.policy=${CFPOLICY:-default_tld}
      - dfgeneric.0.zonename=${CFDOMAIN}
      - dfgeneric.0.path=${CFURLPATH:-}      
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
volumes:
  config:

networks:
  cloudflare-net:
    name: cloudflare-net
    external: true

